.avatar {
	border-radius: 50%;
}

div .paragraph {
	display: inline-block;
	margin: 0;
}

.country {
	font-weight: bold;
}

p,
span {
	margin: 0;
}

.ant-table-cell:last-child {
	text-align: right;
}

div[data-id="locale"] {
	display: inline-block;
	padding: 0.2vw 0.5vh;
	text-align: center;
	margin: 0 0 0 auto;
	font-size: 12px;
	border: 1px solid;
	border-radius: 2px;
}

.contacts {
	padding: 2vh;

	&__card {
		&--img {
			border-radius: 0.5vh;
			width: 100%;
			height: 240px;
			object-fit: cover;
			margin-bottom: 1vh;
		}

		&--name {
			margin-bottom: 3vh;
		}

		&--email,
		&--phone,
		&--location {
			margin-bottom: 1vh;
		}
	}

	&__footer {
		background-color: rgb(250, 250, 250);
		padding: 2vh;

		&--gender {
			display: flex;
			margin-bottom: 5vh;
		}

		&--size,
		&--males,
		&--females {
			margin-right: 1vw;
		}

		&--nat {
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			padding: 0;

			& li {
				width: 20%;

				&:not(:nth-child(4n)) {
					margin-right: 6%;
				}

				&:not(:nth-last-child(-n + 4)) {
					margin-bottom: 1vh;
				}
			}
		}
	}
}

.gender {
	&__wrapper {
		&:not(:last-child) {
			margin-right: 2vw;
		}
	}

	&__title {
		color: grey;
	}

	&__count {
		color: black;
		font-size: 24px;
	}

	&__dominate {
		background-color: #ffe58f;
	}
}

.ant-table {
	background-color: transparent;
}

.ant-table-container {
	background-color: #fff;
	margin-bottom: 2vh;
}
.ant-table-footer {
	background-color: rgb(245, 245, 245);
	padding: 1vh;
}
